<% title @query %>
<aside class="search mb-4">
  <h1 class="display-3 mb-3 text-center fw-bold">
    <%= link_to t("search"), root_path, class: "text-primary text-decoration-none" %>
  </h1>
  <form action="/search" accept-charset="UTF-8" method="get" data-turbo="false">
    <div class="input-group shadow-sm">
      <input type="search" name="q" id="q" value="<%= @query %>" placeholder=<%= t("query_placeholder") %>" class="form-control px-3 border-end-0 border-secondary-subtle" aria-label="Query" />
      <button class="btn btn-outline-primary border-start-0 border-secondary-subtle px-3" id="search-submit" aria-label="Search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" width="20" height="20" class="align-text-bottom">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </button>
    </div>
  </form>
</aside>

<%= turbo_frame_tag @results do %>
  <%= render "search/results" %>
<% end %>
