<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-100">
    <% if user_signed_in? %>
      <div class="float-end mt-0 me-2">
        <%= link_to t("settings"), settings_path, class: "text-decoration-none" %>
      </div>
    <% end %>
    <div class="container p-3 h-100">
      <%= yield %>
    </div>
  </body>
</html>
